body{
    background: #ecf0f1;
}

#container-main{
    margin:40px auto;
    width:95%;
    min-width:320px;
    max-width:100%;
}

#container-main h1{
    font-size: 40px;
    text-shadow:4px 4px 5px #16a085;
}

.accordion-container {
    width: 100%;
    margin: 0 0 20px;
    clear:both;
}

.accordion-titulo {
    position: relative;
    display: block;
    padding: 10px;
    font-size: 18px;
    font-weight: 300;
    background: #9E9E9E;
    color: #fff;
    text-decoration: none;
}
.accordion-titulo.open {
    background: #FF5722;
    color: #fff;
}
.accordion-titulo:hover {
    background: #212121;
}

.accordion-titulo span.toggle-icon:before {
    content:"+";
}

.accordion-titulo.open span.toggle-icon:before {
    content:"-";
}

.accordion-titulo span.toggle-icon {
    position: absolute;
    top: 1px;
    right: 20px;
    font-size: 30px;
    font-weight:bold;
}

.accordion-content {
    display: none;
    padding: 20px;
    overflow: auto;
}

.accordion-content p{
    margin:0;
}

.accordion-content img {
    display: block;
    float: left;
    margin: 0 15px 10px 0;
    width: 50%;
    height: auto;
}

@media (max-width: 767px) {
    .accordion-content {
        padding: 10px 0;
    }
}

.menu_bar {
    display:none;
}

.head_der {
    width: 100%;
}

.head_nav {
    background:white;
    z-index:1000;
    max-width: 1000px;
    width:95%;
    margin:20px auto;
}


@media screen and (max-width: 800px) {
    body {
        padding-top:80px;
    }

    #fil_hid{
        display: none;
    }

    .filtro{
    width: 96%;
    height: 900px;
    position: absolute;
    box-shadow: none;
}


    .menu_bar {
        display:inline;
        width: 80%;
        left: 0px;
        position: fixed;
        top:50px;
        background:#9E9E9E;
        z-index: 500;
    }

    .menu_bar .bt-menu {
        display: block;
        padding: 5px;
        color: #fff;
        overflow: hidden;
        font-size: 20px;
        font-weight: bold;
        text-decoration: none;
    }

    .head_nav {
        width: 80%;
        height: calc(100% - 80px);
        position: fixed;
        right:100%;
        margin: 0;
        overflow: scroll;
    }
}
