* {
    padding:0;
    margin:0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

body {background:#FEFEFE;}

.menu_bar {
    display:none;
}

#mmm{
    height: 1200px;
}

header {
    width: 100%;
}

header nav {
    background:#023859;
    z-index:1000;
    max-width: 1000px;
    width:95%;
    margin:20px auto;
}



@media screen and (max-width: 800px) {
    body {
        padding-top:80px;
    }

    #fil_hid{
        display: none;
    }

    .menu_bar {
        display:inline;
        width:100%;
        position: fixed;
        top:0;
        background:#E6344A;
    }

    .menu_bar .bt-menu {
        display: block;
        padding: 20px;
        color: #fff;
        overflow: hidden;
        font-size: 25px;
        font-weight: bold;
        text-decoration: none;
    }

    .menu_bar span {
        float: right;
        font-size: 40px;
    }

    header nav {
        width: 80%;
        height: calc(100% - 80px);
        position: fixed;
        right:100%;
        margin: 0;
        overflow: scroll;
    }
}
