@import url(http://fonts.googleapis.com/css?family=Julius+Sans+One);
*{
    margin: 0;
    padding: 0;
    font-family: 'Julius Sans One', sans-serif;
}
body{
    background: #434343;
}
.barraMenu{
/*background: #415B7F;*/
    background: rgba(0, 0, 0, 0.5);
}
/*Estilo para el header*/
.header {
    height: 150px;
    width: 100%;
    text-align: center;
  }
.header img{
    height: 100%;
    width: auto;
}
.header2{
    float: right;
    margin-right: 2%;
}
.icon-social{
    height: 20px;
    width: 20px;
}
/*Estilo para la barra de menu*/
#bs-example-navbar-collapse-1 ul li a{
    color: white;
    font-size: 1.2em;
}
#bs-example-navbar-collapse-1 div a{
    color: white;
}
#bs-example-navbar-collapse-1 div a label{
    color: black;
}
#bs-example-navbar-collapse-1 div a label:hover{
    color: black;
    cursor: auto;
}
#bs-example-navbar-collapse-1 ul{
margin-right: 50px
}

.text{
    height: 50px;
}
#bs-example-navbar-collapse-1{
    background: rgba(255, 123, 32, 0.7);
}
#bs-example-navbar-collapse-1 ul li a:hover{
    color: black;
    background: rgba(255, 255, 255, 0.4);
}

section#contenido-imagen{
    position: fixed;
    height: 100%;
    width: 100%;
    top: 0px;
    left: 0px;
    z-index: -1; /*para mandar la imagen al fondo*/
    background-image:url(../imagenes/Fondo.jpg);
    background-size: cover;
    background-position: center 0px;
    background-repeat: no-repeat;
    overflow: hidden;
}

section#contenido{
    width: 80%;
    height: 1700px;
    background-color: white;
    margin: auto;
}

.contenido{    
    width: 80%;
    height: 1700px;
    background-color: white;
    margin: auto;   
}

.CatalagoAutos{
    height: 1700px;
    width: 90%;
    margin: auto;
    /*background-color: orangered;*/
}

/*CSS Filtros*/
 
#container-main{
    margin:40px auto;
    width:95%;
    min-width:320px;
    max-width:100%;
}
 
#container-main h1{
    font-size: 40px;
    text-shadow:4px 4px 5px #16a085;
}
 
.accordion-container {
    width: 100%;
    margin: 0 0 20px;    
    clear:both;
}
 
.accordion-titulo {    
    position: relative;
    display: block;
    padding: 10px;
    font-size: 18px;
    font-weight: 300;
    background: #9E9E9E;    
    color: #fff;
    text-decoration: none;
}
.accordion-titulo.open {
    background: #FF5722;
    color: #fff;
}
.accordion-titulo:hover {
    background: #212121;
}
 
.accordion-titulo span.toggle-icon:before {
    content:"+";
}
 
.accordion-titulo.open span.toggle-icon:before {
    content:"-";
}
 
.accordion-titulo span.toggle-icon {
    position: absolute;
    top: 1px;
    right: 20px;
    font-size: 30px;
    font-weight:bold;
}
 
.accordion-content {
    display: none;
    padding: 20px;
    overflow: auto;
}
 
.accordion-content p{
    margin:0;
}
 
.accordion-content img {
    display: block;
    float: left;
    margin: 0 15px 10px 0;
    width: 50%;
    height: auto;
} 
 
@media (max-width: 767px) {
    .accordion-content {
        padding: 10px 0;
    }
}

.menu_bar {
    display:none;
}

.head_der {
    width: 100%;
}

.head_nav {
    background:white;
    z-index:1000;
    max-width: 1000px;
    width:95%;
    margin:20px auto;
}


@media screen and (max-width: 800px) {
    body {
        padding-top:80px;
    }

    #fil_hid{
        display: none;        
    }

    .filtro{
    width: 96%;
    height: 900px;
    position: absolute;    
    box-shadow: none;
}


    .menu_bar {
        display:inline;
        width: 80%;
        left: 0px;
        position: fixed;
        top:50px;
        background:#9E9E9E;
        z-index: 500;
    }

    .menu_bar .bt-menu {
        display: block;
        padding: 5px;
        color: #fff;
        overflow: hidden;
        font-size: 20px;
        font-weight: bold;
        text-decoration: none;
    }

    .head_nav {
        width: 80%;
        height: calc(100% - 80px);
        position: fixed;
        right:100%;
        margin: 0;
        overflow: scroll;
    }    
}

/*CSS Para catalogo de autos*/

.filtro{
    width: 100%;
    height: 900px;
    position: absolute;
    box-shadow: 2px 2px 5px #999;   
}

.ficha{ 
    margin-top: 10px;
    width: 100%;
    height: 425px;    
    box-shadow: 2px 2px 5px #999;
}

.auto_mini{
    width: 100%;
    height: 200px;  
}

.auto_off{
    display: inline-block;
    width: 125px;
    height: 50px;
}

.auto_inf{  
    width: 100%;
    height: 75px;   
    background: white;
    padding: 10px;
    font-size: 16px;
    font-weight: bold;
}

.auto_dat{
    width: 100%;
    height: 100px;      
    padding-top: 10px;
    
}

.dat_pre{   
    height: 40%;
    font-size: 15px;    
    padding-left: 15px;
    padding-top: 7px;           
    background: #FF6E40;        
    /*background: white;*/
}

.dat_kil{
    height: 40%;
    font-size: 15px;
    background: #FFE0B2;
    /*background: white;*/
    padding-left: 15px;
    padding-top: 7px;
}

.auto_vent{
    width: 100%;
    height: 50px;   
    padding: 15px;  
    background: #F5F5F5; 
    
}

.vent_inf{
    background: white;
}

.model_3D{
    width: 100%;
    height: 600px;
    box-shadow: 2px 2px 5px #999;
}

.informacion{
    margin-top: 20px;
    width: 100%;
    height: 450px;
    box-shadow: 2px 2px 5px #999;
}

.galeria{
    margin-top: 20px;
    width: 100%;
    height: 450px;
    box-shadow: 2px 2px 5px #999;
}
.bot_int{
    margin-top: 10px;
    width: 100%;
    height: 50px;
    box-shadow: 2px 2px 5px #999;
}

.social{
    margin-top: 10px;
    width: 100%;
    height: 50px;    
    box-shadow: 2px 2px 5px #999;
}


