@import url(http://weloveiconfonts.com/api/?family=fontawesome);
[class*="fontawesome-"]:before {
  font-family: 'FontAwesome', sans-serif;
}

* { margin: 0; padding: 0; box-sizing: border-box; }


body {
  /*background:#FF5722;*/
  background-color: #E0E0E0;
  color: #5e5e5e;
  font: 400 87.5%/1.5em helvetica 'Open Sans', sans-serif;
}

section#header{
    height: 80px;
    background-color: #FF5722;
}

.mdl-layout__header{
    background-color: #FF5722;
}
.divider-vertical {
height: 40px;
margin: 0 5px;
border-left: .1px solid rgba(255,255,255,0.2);
}

section#contenido{
    height: auto;
    width: 95%;
    margin-top: 90px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
    background-color: white;
    box-shadow: -2px 2px 15px black;
}
#Btn-nuevo{
    margin-top: 25px;
    margin-right: 4%;
    float: right;
    display: inline-block;
}
#Btn-nuevo button,#Btn-eliminar button,#Btn-modificar button{
    width: 35px;
    height: 35px;
}
#Btn-eliminar{
    margin-top: 25px;
    margin-left: 2%;
    margin-right: 15px;
    float: left;
    display: inline-block;
}
#Btn-modificar{
    margin-top: 25px;
    float: left;
    display: inline-block;
}
#Btn-nuevo label,#Btn-eliminar label,#Btn-modificar label{
    margin-left: 5px;
}
div#tabla-vendedores{
    padding: 2% 2%;
}
#tablaV thead tr th{
    text-align: center;
}
#tablaV tbody tr td{
    text-align: center;
}
#Btn-amarillo{
    background-color: #FFA000;
}
#Btn-rojo{
    background-color: #C62828;
}
#Btn-verde{
    background-color: #00C853;
}
#Btn-azul{
    background-color: dodgerblue;
}
.mdl-layout__title span{
    color: black;
}
div.modal-header{
    background-color: #FF5722 ;
    color: #FFF;
}
.mdl-layout__drawer-button{
    display: none;
}
#bienvenido{
    width: 80%;
    margin: auto;
    margin-top: 100px;
    text-align: center;
    font-size: 400%;
}

@media only screen and (max-width: 768px) {
    .mdl-layout__drawer-button{
    display: inline;
}
    #Btn-nuevo label{
        font-size: .9em;
    }
    #Btn-eliminar label{
        font-size: .9em;
    }
    #Btn-eliminar{
        margin-left: 25px;
        margin-right: 5px;
    }
    #Btn-modificar label{
        font-size: .9em;
    }
}
